<h1>Create a New Board</h1>
<%= form_for Board.new do |f| %>
  <%= f.text_field :name, placeholder: "Enter Board Name", autocomplete: :off %>
  <%= f.submit %>
<% end %>

<div class="row">
  <ul class="boards">
  <h2>My Boards</h2>
    <% @boards.each do |board| %>
    <div class="col-md-4 board-buttons">
      <a class="btn btn-primary btn-lg btn-block" href="/boards/<%= board.id %>" role="button"><%= board.name %></a>
    </div>
    <% end %>
  </ul>
</div>