<h2><%= @board.name %></h2>

<div class='error_messages' ></div>

<!-- FORM TO CREATE NEW LIST -->
<%= form_for [@board, @list] do |f| %>
  <%= f.label :title, 'Create List' %>
  <%= f.text_field :title, placeholder: "Enter List Name", autocomplete: :off %>
    <%= f.submit "Create List", class: "btn btn-primary" %>
<% end %>
<hr>
<!-- ASSOCIATED LISTS -->
<ol id="board_lists">
  <% @board.lists.each do |list| %>
    <li id="<%= list.id %>">
      <%= list.title %>
      <!-- CREATE NEW TASKS -->
      <%= form_for list.tasks.build, url: board_list_tasks_path(@board.id, list.id) do |f| %>
        <%= f.text_field :description, placeholder: "Enter Task", autocomplete: :off %>
        <%= f.select :priority, ['Low', 'Medium', 'High']%>
        <%= f.submit "Create Task", class: "btn btn-primary" %>
      <% end %>

      <!-- SHOW ASSOCIATED TASKS -->
       <ul class="list_task">
         <% list.sorted_tasks_by_priority.each do |task| %>
           <li>
             <span class="task-description"><%= task.description %></span> - <span class="task-priority"><%= task.priority %></span>
             <span class="delete-task" data-taskId="<%= task.id %>">[DELETE]</span>
             <span class="edit-task" data-taskId="<%= task.id %>">[EDIT]</span>
           </li>
         <% end %>
       </ul>
    </li>
  <% end %>
</ol>

<div id="taskModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Task</h4>
      </div>
      <div class="modal-body">
        <h6 id='task-error-message'></h6>
        <p>Description: <input type="text" id="edit-task-field">
          Priority: <select id="edit-task-priority">
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="update-task" class="btn btn-primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>